<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/guitar_list.css' />
    <script src="/javascripts/header.js" defer></script>
  </head>
  <body>
    <header >
        <h1 id="header" class="title-store">
          <%- include('./partials/navbar.ejs') %>
          <svg class="svg-menu" viewBox="0 0 24 24">
            <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
          </svg>
          <svg class="svg-menu close-menu" viewBox="0 0 24 24">
            <path fill="currentColor" d="M13.46,12L19,17.54V19H17.54L12,13.46L6.46,19H5V17.54L10.54,12L5,6.46V5H6.46L12,10.54L17.54,5H19V6.46L13.46,12Z" />
          </svg>
          <div class="header-text">
            <%- title %>
          </div>
        </h1>
      </header>
    <div class="description-category">
        <h2 class="description-title">Description:</h2>
        <p><%- category.description %></p>
    </div>
    <div class="item_list_container">
      <div class="item_list_container-grid">
        <% if(guitars.length > 0) { %>
                <% guitars.forEach(guitar => { %>
                    <div class="card-item">
                      <img id="image-category" src="/images/png/guitarPNG.png" alt="Piano1">
                      <div class="info-instrument">
                        <div class="item-name card-category">
                          <%- guitar.name %>
                        </div>
                        <div class="type card-category">
                          Type:
                            <%- guitar.type.name %>
                        </div>
                        <div class="guitar-name card-category">
                            <div class="dollar">$</div> 
                            <%- guitar.price %>
                        </div>
                        <div class="guitar-name card-category">
                          In Stock:
                            <%- guitar.number_in_stock %>
                        </div>
                        <div class="guitar-name card-category">
                          Brand:
                            <%- guitar.brand.name %>
                        </div>
                        <div class="guitar-name card-category">
                          Id:
                            <%- guitar.id %>
                        </div>
                      </div>
                    </div>
                <% })  %>
        <% } else { %>
            <div class="no-guitars">There are no instruments available</div>
            <% } %>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
